* {
  margin: 0;
  padding: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}
.body {
  background-color: #f3f2ef;
}
.my-navbar {
  top: 0;
  width: 100%;
  height: 53px;
  display: flex;
  position: fixed;
  z-index: 2;
  justify-content: center;
  background-color: #fff;
}
.navbar-container {
  width: 1128px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.left {
  display: flex;
  align-items: center;
}
.nav-item {
  width: 80px;
  height: 53px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.active {
  border-bottom: 2px solid #000;
}
.active .menutext {
  color: #000;
}
.nav-item:hover {
  fill: black;
}
input.searche {
  height: 36px;
  max-width: 500px;
  background-color: #eef3f8;
  border: 0;
}
input.searche::placeholder {
  font-size: 14px;
  color: gray;
  background-image: url(/assets/search-solid.svg);
  background-repeat: no-repeat;
  background-size: 6%;
  padding-left: 23px;
}
.menutext {
  display: flex;
  font-size: 12px;
  color: gray;
  font-weight: 100;
}
.menutext:hover {
  color: black;
}
button.mediatext {
  width: 96px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  color: #5f5f5f;
}
button.mediatext:hover {
  background-color: #ebebeb;
}
.mediatext {
  font-size: 14px;
  font-weight: 600;
  color:  #919090d8;
  border-radius: 5px;
}
i {
  color: gray;
  margin-top: 8px;
  text-align: center;
  cursor: pointer;
}
input.content {
  border-radius: 40px;
  height: 45px;
}
input.content::placeholder {
  font-size: 14px;
  font-weight: 600;
  background-image: url(/bootstraplinkedinclone/assets/edit-regular.svg);
  background-repeat: no-repeat;
  background-size: auto;
}
div.card {
  border-radius: 10px;
}
.header {
  position: absolute;
  font-size: 12px;
  font-weight: bolder;
}
.view {
  font-size: 12px;
  color: #5f5f5f;
}
.categories {
  font-size: 13px;
  font-weight: 600;
  color: #0a66c2;
}
.categories:hover {
  cursor: pointer;
  text-decoration: underline;
}
li {
  font-size: 14px;
  font-weight: bold;
}
.link {
  font-size: 12px;
  color: #5f5f5f;
}
button.ref {
  color: white;
  background-color: #fff;
}
button.ref:hover {
  background-color: rgb(224 224 224);
}
.postphoto {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.posttext {
  font-weight: bold;
  font-size: 14px;
  margin-left: 8px;
}
.follow-btn {
  border: #5f5f5f solid 1px;
  color: #5f5f5f;
  background: #fff;
  position: absolute;
  margin-left: -200px;
  margin-top: -20px;
}
.follow-btn:hover {
  border: #5f5f5f solid 2px;
  color: #5f5f5f;
  background-color: rgb(224 224 224);
}
.card-title {
  position: relative;
}